.container-title{
    display: flex;
    height: 20vh;
    width: 100vw;
    justify-content: center;
    align-items: start;
}

.title{
    color: sienna;
    font-size: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.title h1{
    color: sienna;
    font-size: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
