.card{
    border: 5px solid sienna;
}

.center{
    text-align: center;
    background-color: bisque;
}

.card-img-top{
    background-color: bisque;
}

.card-body{
    background-color: bisque;
}

.card-title{
    background-color: peru;
}

.card-header{
    background-color: peru;
}